<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Version</key>
    <integer>2</integer>
    <key>Extension Name</key>
    <string>TimeStamp Convert</string>
    <key>Extension Identifier</key>
    <string>com.andyguzman.popclip.extension.timestampconvert</string>
    <key>Regular Expression</key>
    <string>^\d{10,13}$</string>
    <key>Actions</key>
    <array>
      <dict>
        <key>Shell Script File</key>
        <string>convert.py</string>
        <key>Script Interpreter</key>
        <string>/usr/bin/python</string>
        <key>Title</key>
        <string>F</string>
        <key>After</key>
        <string>show-result</string>
      </dict>
    </array>
  </dict>
</plist>
